.ms-Toggle-thumb, .thumb-37{
    background-color: #6b446b;
    &:hover
    {
        background-color: #6b446b;
    }
}
.pill-36{
    background-color: #b998b9;
    &:hover
    {
        background-color: #b998b9;
    }
    
}
.pill-41{
    border: 0;
    background-color: #c0c0c0;
    
}
.thumb-42{
    background-color: #adadad;
}
.ms-Label{
    display:none;
  }
  .ms-Toggle,.ms-Toggle-innerContainer,.container-35{
      Label,.ms-Label{
          display:none;
      }
  }