.empty
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a4aab2;
    height:  -webkit-fill-available;
    flex-direction: column;
    .add 
    {
        width: 100%;
    }
    .no{
        font-size: 30px;
        color: rgb(54, 52, 52);
    }
    .Add 
    {
        color:white;
        background-color: #76618B;
        padding: 10px;
        border-radius: 10px;
    }
}