$homeBorderStyle: 0.08rem solid #dad9d9;
$bodyColor:#e3e5e6;

.clubInfo{

    box-sizing: border-box;
    .clubTitle{
        min-height: 9.25rem;
        border-bottom:$homeBorderStyle;
        background-color: #fff;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 20% 80%;
        .profilePic{
            
            padding:1rem 0rem 0rem 4rem;
            img{
                border-radius: 50%;
                height:100px;
                width:100px;
            }

        }
        .clubDetails{
            padding:1rem 0rem 0rem 4rem;
            color: #000000bd;
                .firstLine{
                    font-size: 1.3rem;
                    display:flex;
                    justify-content: space-between;
                        
                }
                .secondLine{
                    font-size: 0.8rem;
                    height: 2rem;
                    padding: 1rem 11rem 1rem 0rem;
                }
                }

                .thirdLine{
                    display: flex;
                    justify-content: space-between;
                    padding: 0rem 1rem 0rem 0rem;
                   
                    font-size: 0.8rem;
                    .addParticipant{
                        padding-right: 1rem;
                        nav {
                           
                            padding-bottom: 50px;
                            display: inline;

                            .nonUserDropDown{
                                display: flex;
                                justify-content: center;
                                box-shadow:  8px 8px 8px #888888;
                                display: none;
                                white-space: nowrap;
                                position: absolute;
                                right: -11%;
                                transform: translateX(-50%);
                                padding-top: 15px;
                                z-index: 1;
                                width: 24%;
                                margin-top: 8px;
                                padding:1rem;
                                ul::-webkit-scrollbar {
                                    width: 0.3rem;
                                  }
                                  
                                  ul::-webkit-scrollbar-thumb {
                                    border-radius: 0.8rem;
                                    background-color: #cccccc;
                                  }
                                 
                                .fixed{
                                        background-color: #fff;
                                        padding:1.5rem;
                                        .primaryBtn{
                                            float: right;
                                            background-color: #76618b;
                                            color: white;
                                            border-radius: 0.4rem;
                                            width: 6.4rem;
                                            padding:0.5rem 0.5rem 0.5rem 0.5rem;
                                        }
                                 }
                                 ul{
                                    overflow-y: scroll;
                                    height: 279px;
                                        li{
                                            position: relative;
                                            background-color: white;
                                        }
                                 }
                                
                            }
                            
                          }
                          
                          nav .nonUserDropDown,
                          nav ul,
                          nav li {
                              
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            .searchBar{
                                background-color: white;
                                padding: 0.5rem 0.5rem 0.5rem 0.5rem;
                                div{
                                    color:black;
                                    display: flex;
                                    justify-content: flex-start;
                                    padding: 1rem;
                                    
                                }
            
                                .searchBox{
                                    border: 0.001rem solid gray;
                                    width:94%;
                                    height: 100%;
                                    padding: 1rem;
                                    &:focus{
                                        outline:none
                                    }
                                }
                            }
                          }
                          
                         
                        //   nav>.nonUserDropDown{
                        //     display: flex;
                        //     justify-content: center;
                        //     box-shadow:  8px 8px 8px #888888;
                            
                        //   }
                          
                        //   nav>.nonUserDropDown>ul>li {
                        //     position: relative;
                        //     background-color: white;
                        //   }
                        //   nav>.nonUserDropDown >ul{
                        //       overflow-y: scroll;
                        //       height: 279px;
                        //   } 
                       
                          nav>.nonUserDropDown {
                            display: none;
                            white-space: nowrap;
                            position: absolute;
                            right: -11%;
                            transform: translateX(-50%);
                            padding-top: 15px;
                            z-index: 1;
                            width: 24%;
                            margin-top: 8px;
                         
                          }
                         
                          
                          nav>.nonUserDropDown:after {
                            position: absolute;
                            left: 90%;
                            transform: translateX(-50%);
                            top: 5px;
                            width: 0;
                            height: 0;
                            content: '';
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid white;
                          }
                          
                          nav:hover>.nonUserDropDown {
                            display: block;
                          }
                          
                    }
                }
        }
    }
    .clubBody{
        max-height: 31rem;
        background-color: $bodyColor;
        display:grid;
        grid-template-columns: 46% 54%;
        box-sizing: border-box;
        overflow-y:auto;
       
        .leftGrid{
            .pa{
                padding:1rem 1rem 1rem 2rem;
            }
            .participants{
                background-color: #fff;
                margin:0rem 1rem 2rem 2rem;
                min-height: 5rem;
                .searchBar{
                    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
                    border-bottom:$homeBorderStyle;

                    .searchBox{
                        border:0;
                        width:94%;
                        height: 100%;
                        padding-left:0.4rem;
                        &:focus{
                            outline:none
                        }
                    }
                }
            }

        }
        .rightGrid{
            display: grid;
            grid-template-rows: 52px auto 52px 248px;
            box-sizing: border-box;
            .re{
                padding:1rem 1rem 1rem 2rem;
            }
            .requests{
                background-color: #fff;
                margin:0rem 1rem 1rem 2rem;
                min-height: 2rem;
    
            }
            .gs{
                padding: 1rem 1rem 1rem 2rem;
            }
            .groupSettings{
                background-color: #fff;
                margin:0rem 1rem 0rem 2rem;
                min-height: 2rem;
                padding:1rem 2rem 1rem 2rem;
              

                .clubType{
                    display: flex;
                    justify-content:space-between;
                    align-items: center;
                    
                   .ms-Toggle-thumb, .thumb-37{
                            background-color: #6b446b;
                        }
                        .pill-36{
                            background-color: #b998b9;
                        }
                        .pill-41{
                            border: 0;
                            background-color: #c0c0c0;
                        }
                        .thumb-42{
                            background-color: #adadad;
                        }
                   
                    
                    }
                    .subType{
                        
                        .field-54::after, .field-49::after,.field-54::before, .field-49::before{
                           border-color: #6b446b;
                        }
                    }
                    .mute{
                        display: flex;
                        align-items: center;
                        font-size: small;
                        padding: 1rem 0rem 1rem 0rem;
                        .text-62{
                            display:none;
                        }
                       
                    }
                     .clubActions{

                        button{
                            color: #966596;
                            border-radius: 0.3rem;
                            border-color: #966596;
                            background-color: white;
                            padding: 0.5rem;
                            margin: 1rem 1rem 1rem 1rem;
                        }
                     }          
               
            }

        }
    }
    .clubBody::-webkit-scrollbar {
        width: 0.3rem;
      }
      
      .clubBody::-webkit-scrollbar-thumb {
        border-radius: 0.8rem;
        background-color: #cccccc;
      }
