.FavouriteClubsTable
  {
    border-collapse: collapse;
    border :0.05px solid rgb(189, 187, 187);
    margin-right: 20%;
    border-color:  rgb(189, 187, 187);
    padding: 0px;
    margin-left: 27px;
    width:1515px;
    background-color: white;
    th 
    {
      background-color: rgb(233,238,240);
      padding:1em;
    }
    
  }
  .rows
  {
    border :0.5px solid rgb(189, 187, 187);
    background-color: white;
    padding: 1em;
    
    
  }
  .columns
  {
    
    background-color: rgb(233,238,240);
  }
  .tds
  {
    height: 150px;
    width: 100%;
    background-color: white;
    margin: 0px;
    display: inline-flex;
    justify-self: self-start;
  }
  .name
  {
    color:#76618B;
    font-size: 1em;
  }
