.AddUser
 {
 /* Hidden by default *///display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 100px;
    padding-left:600px;
    padding-right:300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    .adduser_head
        {
            color:black;
            font-size: 20px;
            width:810px;
            background-color: rgba(244, 245, 248 ,1);
            padding: 20px;
            display: flex;
            justify-content: space-between;

            svg 
            {
                padding-left: 620px;
                color: rgb(185, 183, 183);
            }            

        }
    #content
    {
        margin:0px;
        width:850px;
        min-height:850px;
        
    }
     #one-third
     {
       min-width:35%;
       border-right:1.5px dashed rgb(223, 220, 220);
       float:left;
       height:555px;
       background-color:white;
       opacity:1;
       .groupicon
       {
            margin-top: 20%;
            height:60%;


       }
     }

     #two-third
     {
         .error{
             color:red
         }
         min-width:50%;
         height:530px;
         background-color:white;
         padding-left: 47%;
         padding-top: 3%;
         p 
         {
             margin-top:2%;
             margin-bottom: 1%;
         }
         .Name
         {
             padding: 1.5%;
             width:70%;

         }
         textarea
        {
            padding: 1.5%;
            width:80%;
        } 
        label
        {
            margin-bottom: 2%;
            
        } 
        div
        {
            display: flex;
            flex-direction: coloum;
        }
        .tblabel
        {
                margin-top: 100px;
        }   
        .textline
        {
            display:inline-block;
            border-top: none;
            border-left: none;
            border-right:none;
            margin-top:4%;
            &:focus
            {
                outline: none;
            }
        }
        .clubToggle
        {
             margin-right:2rem;
        }
        .choiceGroup
        {
            div
            {
         display: flex;
         flex-direction:coloum;
            }
            label
            {
                display:block;
            }
            
        }
        .buttons
        {
            padding-left: 60%;
        .cancelbutton
        {
            outline: none;
            border: none;
            padding: 12px 15px 12px 15px;
            border-radius: 5px;
            color: white;
            background-color: rgb(185, 183, 183);          
        }
        .addclub
        {
            outline: none;
            border: none;
            padding:  12px 15px 12px 15px;
            border-radius: 5px;
            color: white;
            background-color: #76618B;      
            margin:2%;    
        }
    }
     }
     h4{
         background-color:#f4f5f8;
         margin:0px;
         padding:20px

     }
     span 
     {
         label 
         {
             display: flex;
             flex-direction: row;
             justify-content:left;
             input{
                 display:inline;
             }
         }
     }
     .addUsersDropdown
     {
    
        .dropdown-content {
            width: 100%;
            bottom: -101px;
            left: 0px;
            height: 100px;
            overflow-y: scroll;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            
          }
          
          .dropdown-content p {
            
            float: none;
            color:grey;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            &:hover
            {
                background-color: gray;
                color: black
            }
          }
          
          .dropdown-content p:active {
            background-color: #ddd;
            color: black;
          
          }
          
          .dropdown:hover .dropdown-content {
            display: block;
            color:black;
           }
        
          .dropbtn
          {
            display: inline-flex;
            justify-content: space-between;
            height:100%;
            text-align: left;
              color: grey;
              background-color: white;
              border :0.05px solid rgb(189, 187, 187);
              width :10em;
              padding-top: 2em;
              padding-bottom: 2em;
              
          }
     } 
     .selectedUsers
     {
        flex-wrap: wrap;
    width:80%;
     position:relative;
     margin-bottom:2rem;
      border-bottom: 2px solid rgb(170, 170, 170);
      input:focus
      {
        margin-left: 2px;
        outline: none;
      }
     } 
     .selectedUsers:hover .dropdown-content {
      display: block;
      color:black;
     }
     .ms-ChoiceFieldGroup-flexContainer.flexContainer-42 {
        flex-direction: column;
    }
  
.field-46::after
{
    border-color:#76618b
}

.field-46::before
{
    border-color:#76618b
}
        
}