.roundBoxClub
{
font-size:12px;
padding:0.5rem;
display: flex;
align-items: center;
background-color: #eaeef1;
border:1px solid  #bdbbbb;
border-radius: 25px;
margin:0.2rem;
span{
    padding-right:0.5rem
}
}